button {
  background-color: orange;
  border: 2px solid black;
  color: white;
  padding: 30px 50px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  margin: 5px 0px;
  border-radius: 50px;
  box-shadow: 0 9px #999;
}

.number0 {
  padding: 30px 112px;
}
.allClear {
  padding: 30px 38.5px;
}
.positiveAndNegative {
  padding: 30px 41px;
}
.decimal {
  padding: 30px 54px;
}
.percent {
  padding: 30px 45.5px;
}

.center {
  background-color: dodgerblue;
}


button:hover {
  background-color: #ffb732;
}


button:active {
    background-color: #e59400;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.center:hover {
  background-color: lightblue;
}

.font {
  font-family: 'Inconsolata', monospace;
  color: lightgreen;
}

body {
  background-color: lightgray;
  background-image: url(../background.gif);
  background-position: 550px;
}

#display {
  font-size: 100px;
  text-align: right;
  border: 5px solid black;
  border-radius: 10px;
  margin: 10px;
  max-width: 600px;
  min-width: 550px;
  overflow: hidden;
  background-color: white;
  box-shadow: 7.5px 7.5px 2.5px black;
}

table {
  border-radius: 20px;
  border: 10px solid black;
  padding-bottom: 15px;
  background-color: lightgreen;
  box-shadow: 10px 10px 5px grey;
}
